#c1{
    width: 400px;
    height: 200px;
    border: 3px solid black;
    margin: 40px;
    
}
body{
    margin: 0;
}
.main {
    width: 100%;
    height: 150px;
    background: #000;
    margin-bottom: 20px;
    
}
.noteboock{
    margin-top: 20px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #000;
}
.node_c{
    display: flex;
}
.sidebar{
    width:  200px;
    height:470px;
    border-right: 2px solid #000;
    margin-right: 10px;
}
.in{
    width: 480px;
    height: 470px;
    padding: 30px;
    font-size: 20px;
    resize: none;
}
.create{
    width: 170px;
    height: 25px;
    margin: 10px;
    border: 2px solid #000;
    padding-top: 5px;
    padding-left: 10px;
}